@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri.eot');
    src: url('../fonts/calibri.eot') format('embedded-opentype'),
         url('../fonts/calibri.woff') format('woff'),
         url('../fonts/calibri.ttf') format('truetype'),
         url('../fonts/calibri.svg#Calibri') format('svg');
}
@font-face {
    font-family: 'OldEnglishTextMTRegular';
    src: url('../fontsoldengl.eot');
    src: url('../fontsoldengl.eot') format('embedded-opentype'),
         url('../fontsoldengl.woff') format('woff'),
         url('../fontsoldengl.ttf') format('truetype'),
         url('../fontsoldengl.svg#OldEnglishTextMTRegular') format('svg');
}

ol{ padding-left:20px;}
ol li{ padding:0 0 10px 0;}
ol ol{ margin-left:20px;}

table{
	border: 1px solid #ccc;
margin-bottom: 10px;
width: 100%;
background: #f9f9f9;
padding: 10px;
border-radius: 2px;
}
tbody{
	display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
table tr{
	background: #f0f0f0;
width: 80% !important;
}
td{
color: #333333;
font: 12px/20px arial;
padding: 5px 15px;
}
td span {
color: #1799C9;
padding-left: 5px;
}

*{margin:0px; padding:0px; outline:none;}
body{background:url(../images/bg.jpg) no-repeat #ffffff; font-family:Calibri; font-size:14px; padding:0px; margin:0px; text-align:justify;}
h1,h2,h3,h4,h5,h6{margin:0px; padding:0px; font-weight:normal;}
h1{
	font-size: 20px;
font-family: Calibri;
color: #f88303;
}
h3 {
	font:bold 16px/24px Verdana, Geneva, sans-serif;
	color: #000;
	padding:8px 10px;
	background:#ffe5c9;
}
h4 {
	font:bold 18px/24px Verdana, Geneva, sans-serif;
	line-height: 1.2em;
	margin: 0px 0 10px;
	color: #4f6c87;
}
h5{
	padding:0 0 10px 0;
	font:bold 14px/22px Verdana, Geneva, sans-serif;
	color:#4f6c87;
}
.mt10{
	margin-top:10px;
}
.mt20{
	margin-top:20px;
}
.ml20{
	margin-left:20px;
}
.p5{
	padding:5px;
}
.cls{
	margin:0;
	padding:0;
	clear:both;
}
h6{
	font:bold 14px/22px Verdana, Geneva, sans-serif;
	color:#DA353B;
}
#slider-wrapper {
    width:960px;
    height:309px;
    margin:0 auto;
    padding-top:0;
    margin-top:0;
}
.map{float:left; width:450px; border:1px #ccc solid; border-radius:3px; padding:2px; margin-top:10px;}
.contact-details{float:right; width:400px; margin-top:4px;}
.contact-details h2{font-size:18px; color:#333; border-bottom:1px #ccc solid; padding-bottom:4px; margin-bottom:10px;}
.contact-details p{font-size:13px; color:#797979; padding-bottom:7px;}
#slider {
	position:relative;
    width:960px;
    height:309px;
    margin-left:0;
	background:url(../images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:400px;
	bottom:-37px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	
	margin-right:0px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}


.wrapper{float:left; width:100%;}
.container{width:962px; margin:0 auto; background:#fff; box-shadow:-1px 0 5px 2px #CCCCCC; padding:0 10px 20px; border-radius:0 0px 5px 5px; clear:both;} 
.header-container{float:left; width:100%;}
.header{margin:0 auto; width:984px; height:115px; background:url(../images/header-bg.png) no-repeat;}
.banner{margin:0 auto;}
.header .top-nav{ width:650px; float:right; clear:both; text-align:right}
.header .top-nav span{background:url(../images/phone-icon.png) no-repeat left center; font-weight:bold; color:#606060; padding-left:30px; font-size:15px;}
.social-icon{ width:150px; float:right; margin:4px 0 0 0;}
.social-icon ul{float:right;}
.social-icon ul li{padding-left:3px; display:inline-block;}
.social-icon ul li a { float:left;transition:all 0.8s; }
.social-icon ul li a:hover {transform:rotate(360deg);-webkit-transform:rotate(360deg);}
.header-right{float:right; height:40px;}
.social-icon strong{color:#606060;}
.phone-no{float:left;}
.navigation{clear:both; position:relative; top:20px; float:right;}
.navigation ul{margin:0px; padding:0px; list-style:none;}
.navigation ul li{float:left;}
.navigation ul li a{text-decoration:none; outline:none; border-right:1px solid #C746DA; font-size:12px; color:#fff; text-transform:uppercase; padding:20px 15px; display:block;}
.navigation ul li.active, .navigation ul li:hover{background:#f59022; border-radius: 6px 6px 0px 0px; position:relative; top:-15px;}
.navigation ul li.active a, .navigation ul li:hover a{background:url(../images/active-arrow.png) no-repeat center top; padding:29px 15px; border-right:0px;}
.navigation ul li.first a{border-right:0px;}
.navigation ul li.last a{border-right:0px;}
.welcome-cnt h1.title{font-size:28px; color:#f88303; font-family:"OldEnglishTextMTRegular"; padding:4px 0 0;}
.welcome-cnt p{font-size:14px; color:#6c6c6c; line-height:20px; padding-top:4px;}
.matt{ color:#6c6c6c; font:normal 14px/20px Arial, Helvetica, sans-serif !important;}
.welcome-bottom{margin-top:15px;}
.our-servicesDiv{padding-top:10px;}
.our-servicesDiv .h1.title{font-size:24px; color:#f88303;}
.servicesDiv ul{margin:0px; padding:0px 0 0 15px;}
.servicesDiv ul li{list-style:url(../images/small-arrow.png);width:219px; float:left;}
.servicesDiv ul li a{ font-family:"Californian FB"; padding:4px 0; font-size:18px; font-weight:bold; color:#7d7d7d; text-decoration:none; }
.mainboxesDiv{margin-top:20px; clear:both; float:left; width:100%;}
.mainboxesDiv div{border-radius:5px; padding:15px; margin-right:20px;float:left; width:195px;}
.mainboxesDiv div h2{font-size:24px; font-family:'Myriad Pro'; color:#fff;}
.mainboxesDiv div.last{margin-right:0px;}
.mainboxesDiv div.box1{background:#c89a33;}
.mainboxesDiv div.box2{background:#08aac2}
.mainboxesDiv div.box3{background:#0cb088}
.mainboxesDiv div.box4{background:#8cc542}
.mainboxesDiv span{float:right; color:#fff; margin-top:4px; background:url(../images/more-arrow.png) left center no-repeat; padding-left:10px;}
.columsmainDiv{float:left; width:100%; margin-top:5px;}
.columsmainDiv .colm{float:left; width:209px; padding:10px 20px; border-right:1px #dcdcdc solid; height:261px; overflow:hidden; position:relative;}
.columsmainDiv .colm h3{color:#034091; font-size:20px; font-style:italic; text-align:center;}
.columsmainDiv .colm .image{text-align:center; padding-top:10px;}
.columsmainDiv .colm h5{font-size:14px; text-align:center; padding:7px 0px; color:#034091;  font-style:italic;}
.columsmainDiv .colm p{color:#333; font-size:13px; line-height:19px;}
.columsmainDiv .colm.last{padding-right:0px;  border-right:0px;}
.columsmainDiv .colm.first{padding-left:0px;} 
.bottom-part{ margin-top:10px; float:left; width:100%;}
.bottom-part .col{border:1px #d1d1d1 solid; float:left; width:275px;padding:5PX 10px; margin-right:33px;}
.bottom-part .col.last{margin-right:0px;}
.bottom-part .col input {
clear: both;
float: left;
border:1px #ccc solid;
border-radius:3px;
margin-left: 30px;
margin-top: 10px;
padding: 4px;
width: 200px;
margin-bottom:5px;
}
.loginBtn{background:#1e78a4; padding:4px 10px; border-radius:7px; font-size:13px; color:#fff; float:left; clear:both; margin:10px 0 0 25px;}
.bottom-part span {
    float: left;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 14px;
	color:#7e4faa;
}
.col.first_2 > h2{font-size:17px; color:#238bbe; padding-top:5px; text-transform:uppercase;}
.col.first_2 > ul{margin:0px; padding:0 0 0 16px;}
.col.first_2 > ul li{list-style:url(../images/blue-arrow.png); padding:2px 0px;}
.col.first_2 > .viewall{ background:url(../images/blue-arrow.png) right center no-repeat; padding-right:25px; float:right; margin:0px;margin-right:20px;}
.col.first_2 > .viewall a{color:#238bbe; text-decoration:none;}
.col.middle > img {padding: 11px 0 0 10px;}
.col.last > h2{font-size:17px; color:#238bbe; padding-top:5px; text-transform:uppercase;}
.col.last > ul{margin:0px; padding:0 0 0 16px;}
.col.last > ul li{list-style:url(../images/blue-arrow.png); padding:2px 0px;}
.col.last > .viewall{ background:url(../images/blue-arrow.png) right center no-repeat; padding-right:25px; float:right; margin:0px;margin-right:20px;}
.col.last > .viewall a{color:#238bbe; text-decoration:none;}
.footer-container{float:left; width:100%; margin-top:20px;}
.footer{width:960px; margin:0 auto;}
.top-employers-sliderDiv{float:left; width:100%;}
.top-employers-sliderDiv h2{font-size:16px; text-transform:uppercase; font-family:"Palatino Linotype"; color:#238bbe;}
.top-employers-slider{background:#ecddb9; float:left; width:100%; padding:10px; margin-top:10px;}
/*.top-employers-slider ul li{padding:6px 0px 0 12px; list-style:none; float:left;}*/
#footer-navigation{background:url(../images/footer-menu-bg.png) no-repeat center center; margin-top:30px; margin-bottom:10px; float:left; width:100%;}





.footer-navigation{margin:0 auto; width:680px;}
.footer-navigation ul{ text-align:center; }
.footer-navigation ul li{list-style:none; padding:7px 10px; border-radius:5px; width:110px; float:left; margin-right:5px; background:#c89a33; display:block; position:relative;}

.footer-navigation ul li a{color:#fff; font-size:14px; text-decoration:none; text-transform:uppercase; }


.footer-navigation ul li ul{ display:none; }

.footer-navigation li li{ width:170px; margin-top:1px; float:none; background:#C02FD5; display:block;}
.footer-navigation li li:hover{ background:#C89A33;}
   
.footer-navigation li:hover ul, .footer-navigation li:hover ul {
   
   display: block; position: absolute;
   margin-left:-10px;
   float:left;
   
   }




   


.footer-left-part{float:left;}
.footer-right-part{ text-align:center; margin:0 0 10px;}
.enquiry {width: 960px;float: left;margin-top: 10px;}

.frtxt {font-size: 12px;font-family: arial,verdana;border: 1px solid #464646; background:#F3F3F3}
.codtn {border-collapse: collapse; margin-top:15px;}
.en-txt {font-size: 12px;color: #000;padding: 4px 0px 4px 5px;font-family: arial;text-align: left;}
.txtfa{
	padding:5px;
}
.enquiry-page ,.contact-page, .product-page ,.aboutus-page{margin-top:18px;}
.enquiry-page h1, .contact-page h1, .product-page h1, .aboutus-page h1, indus-page h1{ font-size:20px; font-family:Calibri; color:#f88303;}
.submitBtn{background:#eb7b04; color:#fff; cursor:pointer; padding:5px 12px; border-radius:5px; border:0px; margin-top:5px;}

.en-sub {font-size: 15px;color: #000;padding: 7px 0px 4px 5px;font-family: arial;height: 19px;font-weight: bold;}
.en-bg4 {background-color: #9E5D17}
.en-sub {font-size: 15px;color: #fff;padding: 6px 0px 6px 10px;font-family: arial;height: 19px;font-weight:normal;}
.en-bg4 {background-color: #9E5D17}
.aboutus-page p{font-size:14px; padding-top:5px; color:#606060;}
.indus-page p{font-size:16px; padding-top:5px; color:#606060;}
/*-----------------products-page---------------*/


.products-ariya{
		overflow:hidden;
	}
.products-ariya h3{
		color:#ad4612;
		padding:5px;
		margin:0 !important;
		
}
.products-img{
		float:left;
		width:225px;
}
.products-img img{
		
		width:225px;
		height:225px;
}
.products-taxt{
	float:right;
	width:715px;
	color:#645244;
}
.pro_b{
	clear:both;
	background:#e8e5d1;
}
.send a{
	float:right;
	width:120px;
	height:27px;
	border-radius:10px;
	text-align:center;
	line-height:26px;
	text-decoration:none;
	font-weight:bold;
	color:#ad4612;
	background:url(../images/arro.png) no-repeat 10px;
	
}

.view a{
	float:left;
	width:120px;
	height:27px;
	border-radius:10px;
	text-align:center;
	line-height:26px;
	text-decoration:none;
	font-weight:bold;
	color:#ad4612;
	background:url(../images/seach.png) no-repeat 10px;
}
.products-taxt a:hover{
	background:#333;
}
.read a{
	right:0px;
	bottom:0px;
	float:right;
	margin:5px;
	padding:2px 8px;
	text-decoration:none;
	position:absolute;
	color:#F00;
}
.read a:hover{
	color:#238BBE;
}
.head{
	font:bold 13px/22px Verdana, Geneva, sans-serif;
	color:#006;
}
.left-panel{
	width:700px;
	float:left;
}
.right-panel{
	width:240px;
	float:right;
}
.drop{
	margin-top:20px;
}
.dropdown{
	border: 1px solid #ccc;
width: 225px;
height: 30px;
padding: 5px 5px;
margin-left: 10px;
margin-bottom: 10px;
}
.width50 {
width: 340px;
}
.width100 {
width: 125px;
text-align: center;
}
.width225{
width: 225px;
text-align: center;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.left-panel1{
	width:230px;
	float:left;
	border:1px solid #ccc;
	border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-khtml-border-radius:10px 10px 10px 10px;
	padding:10px;
}
.right-panel1{
	width:680px;
	float:right;
	border:1px solid #ccc;
	border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-khtml-border-radius:10px 10px 10px 10px;
	padding:10px;
}
.pro1 ul{
	margin:0;
	padding:0;
}
.pro1 li{
	list-style:none;
}
.pro1 li a{
	font:13px/30px Verdana, Geneva, sans-serif;
	background:url(../images/bullet.png) no-repeat left center;
	border-bottom:1px dashed #ccc;
	text-decoration:none;
	color:#333;
	padding-left:20px;
	display:block;
}
.pro1 li a:hover{
	color:#F69125;
}
.shoping-cart{
	float:left;
	text-align:center;
	font:bold 20px/34px Verdana, Geneva, sans-serif;
	color:#FFF;
	background:url(../images/basket.png) no-repeat 5px center #C02FD5;
	margin-top:10px;
	border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-khtml-border-radius:10px 10px 0px 0px;
	padding:10px 20px 10px 50px;
}
.bg{
	background:#C89A33;
}
.box {
width: 100%;
border: 1px solid #e3e2e2;
background: #fff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
behavior: url(js/PIE.htc);
position: relative;
margin-bottom: 15px;.
}
.box .padding {
padding: 10px 15px 15px 13px;}
.pay {
	width:647px;
	float:left;
}
.pay1 {
	width:550px;
	height:27px;
	padding-left:5px;
	background-color:#e5f6ff;
	float:left;
}
.pay11 {
	width:70px;
	height:27px;
	margin:0px auto;
	text-align:center;
	background-color:#e5f6ff;
	float:left;
}
.pay2 {
	width:550px;
	height:27px;
	padding-left:5px;
	background-color:#f7f7f7;
	float:left;
	margin:1px;
}
.pay22 {
	width:70px;
	height:27px;
	margin:1px;
	text-align:center;
	background-color:#f7f7f7;
	float:left;
}
.pay22 div {
	text-align:center;
	margin:5px;
}
.pay2 div {
	padding-top:3px;
	padding-left:5px;
}
.pay11 div {
	text-align:center;
	margin:5px;
}
.pay1 div {
	padding-top:3px;
	padding-left:5px;
}
.regis-box{
	border:1px solid #F69125;
	width:300px;
	min-height:220px;
	position:relative;
	float:left;
	margin:10px 18px;
	border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-khtml-border-radius:10px 10px 0px 0px;
}
.regis-head{
	background:url(../images/regis-head.jpg) repeat-x;
	font:bold 16px/34px Verdana, Geneva, sans-serif;
	color:#FFF;
	padding-left:10px;
	border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-khtml-border-radius:10px 10px 0px 0px;
}
.input-new132 {
    background-color: #FCFDFE;
    border: 1px solid #C8DAE6;
    color: #6387A8;
    font-size: 14px;
    height: 23px;
    width: 190px;
}
.matt{
	font:12px/20px Arial, Helvetica, sans-serif;
}
.sign-btn{
	background:url(../images/sign.png) no-repeat;
	border:none;
	padding:10px 53px;
	float:right;
	margin-top:15px;
}
.cont-btn{
	background:url(../images/continue.png) no-repeat;
	border:none;
	padding:10px 55px;
	float:right;
	margin-top:15px;
	position:absolute;
	bottom:10px;
	right:10px;
	height:40px;
}
.right-panel2{
	width:680px;
	float:right;
	padding:10px;
}
.submit{
	background:#F88303;
	font:bold 12px/22px Verdana, Geneva, sans-serif;
	color:#fff;
	padding:5px 15px;
	border:none;
}
.order{
	width:680px;
	float:left;
}
.manual_order{
	
	float:left;
}
.sn{ background:#F59022; width:50px; border:1px solid #ccc; border-right:none; font-weight:bold; float:left; padding:8px 0; text-align:center; color:#FFF; }
.order-id{background:#F59022; width:156px; border:1px solid #ccc; border-right:none; font-weight:bold; float:left; padding:8px 0; text-align:center; color:#FFF; }
.prod-name{background:#F59022; width:156px; border:1px solid #ccc; border-right:none; font-weight:bold;  float:left; padding:8px 0; text-align:center; color:#FFF; }
.date{background:#F59022; width:156px; border:1px solid #ccc; border-right:none; float:left; font-weight:bold; padding:8px 0; text-align:center; color:#FFF; }
.price{background:#F59022; width:156px; border:1px solid #ccc; float:left; padding:8px 0; font-weight:bold; text-align:center; color:#FFF; }
 

.sn1{ background:#f2f2f2; width:50px; border:1px solid #ccc; border-right:none; font-weight:bold; float:left; padding:8px 0; text-align:center; color:#333; }
.order-id1{ background:#f2f2f2; width:156px; border:1px solid #ccc; border-right:none; font-weight:bold; float:left; padding:8px 0; text-align:center; color:#333; }
.prod-name1{ background:#f2f2f2; width:156px; border:1px solid #ccc; border-right:none; font-weight:bold;  float:left; padding:8px 0; text-align:center; color:#333; }
.date1{ background:#f2f2f2; width:156px; border:1px solid #ccc; border-right:none; float:left; font-weight:bold; padding:8px 0; text-align:center; color:#333; }
.price1{ background:#f2f2f2; width:156px; border:1px solid #ccc; float:left; padding:8px 0; font-weight:bold; text-align:center; color:#333; }
.welcome-2{ width:192px; float:left; text-align:center; font:bold 13px/20px Arial, Helvetica, sans-serif;  height:16px; }
.welcome-2 a{ text-decoration:none; color:#c02fd5;}
.welcome-2 b a{ color:#f59022; margin-left:20px; }

img{border:0px;}

.delete a{font-size:11px; font-weight:bold; color:#666; margin-right:10px; text-decoration:none; line-height:18px; padding-left:5px;}
.delete a:hover{font-size:11px; font-weight:bold; color:#666; margin-right:10px; text-decoration:underline; line-height:18px; padding-left:5px;}
.logo{width:286px; height:67px; float:left; margin-top:20px; margin-left:8px;}

.forget{padding-left:10px; float:left;}
.forget a{ color:#6c6c6c; text-decoration:none; }
.forget a:hover{ color:#2271b2;}
.forget_box_main{ width:288px; float:left; margin:10px 0; height:50px; }
.forget_box{float:left; width:93px; font-weight:bold; color:#6c6c6c; }


.subm{ width:70px; padding:1px 3px; color:#fff; font:bold 13px/20px Arial, Helvetica, sans-serif; float:right; background:#2f84c4; border:none; margin:5px 2px 5px 0; }

.scroller_new{ color:#F00; font:bold 13px/20px Arial, Helvetica, sans-serif;}